<main class="d-flex flex-nowrap">
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column flex-shrink-0" style="flex-grow: 1;">
        <div class="row ps-3">
            <div class="col-md-4 mb-4 scrollable-container rounded-1">
                <div class="card-header ps-5 pt-4 pb-4 text-center">
                    <h5 class="mb-0">Explora Lugares en Tu Zona</h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5 mb-3">
                        <select class="form-select" required>
                            <option value="" selected>Seleccione una opcion</option>
                            <option value="" >KM</option>
                            <option value="" >Mill</option>
                        </select>
                    </div>
                    <div class="col-sm-5 mb-3">
                        <input 
                        #rango="ngModel" 
                        class="form-control" 
                        [ngClass]="rango.invalid && rango.dirty? 'is-invalid' : '' " 
                        type="number" 
                        name="rango" 
                        [(ngModel)]="obtenerDistanciaDTO.rango" 
                        required/>
                    </div>
                    <div class="col-sm-2 mb-3 text-center">
                        <button class="btn btn-custom" (click)="obtenerDistancia()">
                            <i class="fa-solid fa-search me-1"></i>
                        </button>
                    </div>
                </div>
                @for (item of negocios; track $index) {
                <div class="container">
                    <div class="row">
                        <div class="flex-column mb-auto">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" routerLink="/detalle-negocio-propietario/{{item.codigo}}"> {{item.nombre}}</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-sm-12">
                                                <p class="card-text">{{item.calificacionPromedio}} Estrellas
                                                    ({{item.numeroCalificaciones}})</p>
                                                <p class="card-type">{{item.tipoNegocio}}</p>
                                                <p class="card-text">{{item.estadoActual}}: Cierra a las
                                                    {{item.horaCierre}}</p>
                                                <p class="card-text">Dirección: {{item.direccion}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12">
                                                <div id="carouselExampleRide-{{$index}}" class="carousel slide" data-bs-ride="true">
                                                    <div class="carousel-inner">
                                                        @for (imagen of item.imagenes; track $index){
                                                        <div class="carousel-item" [ngClass]="$index==0 ? 'active': ''" >
                                                            <img src={{imagen}} class="d-block w-100" alt="">
                                                        </div>
                                                        }
                                                    </div>
                                                    <button class="carousel-control-prev" type="button"
                                                        [attr.data-bs-target]="'#carouselExampleRide-'+$index"
                                                         data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button"
                                                        [attr.data-bs-target]="'#carouselExampleRide-'+$index"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                }
            </div>
        </div>
    </div>
</main>