hr {
    border: 0px solid #ccc; /* Color y grosor de la línea */
    width: 80%; /* Ancho del separador */
    margin: 20px auto; /* Margen superior e inferior automáticos */
  }
.container-fluid {
    display: flex; /* Enable flexbox layout */
    height: 100vh; /* Set container height to 100% */
    width: 92vw; /* Set container width to 100% (optional) */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: center; /* Center elements vertically */
    border: 40px solid #355B3E;
    border-radius: 5px;
  }
.btn-custom {
    background-color: #d3d3d3; /* Orange color */
    border-radius: 20px;
    border-color: #d3d3d3;
    color: black; /* White text */
  }
  